@import "../../../../styles/theme";

.kibana-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-right: 2em;
}

.root {
  display: flex;
  flex-direction: row;
}

.search-forms {
  width: 40%;
  margin-top: 50px;
  margin-left: 50px;
}

.search-forms .mat-card {
  padding: 20px;
}

h1 {
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-results {
  width: 60%;
  margin: 30px;
}

.search-result {
  border: 1px solid $gray;
  border-radius: 5px;
  margin: 20px;
}

.search-result .mat-card {
  padding: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  opacity: 0.8;
  padding: 10px;
}

.description {
  padding: 10px;
}

.details-row {
  margin-top: 10px;
}

.download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

a {
  margin-right: 10px;
}

::ng-deep em {
  font-weight: bold;
}
