<mat-toolbar color="primary" class="mat-elevation-z24">
    <span></span>
    <span>
        <button *ngIf="login" mat-button routerLink="/registration">
            <mat-icon>person_add</mat-icon>Registration
        </button>
        <button *ngIf="registration" mat-button routerLink="/login">
            <mat-icon>login</mat-icon>Login
        </button>
        <button *ngIf="!login && !registration" mat-icon-button [matMenuTriggerFor]="more" matTooltip="More">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>